<ion-view>
  <ion-content has-header="true">
    <ion-list class="favorites-list">
      <ion-item class="favorite-result-item" ng-repeat="loc in locations" type="item-text-wrap" ng-show="isFavorite(loc)" ng-href="#/app/loc/{{loc._id}}/detail">
        {{loc.commonName}}
        <ion-option-button ng-click="unFavorite(loc)" ng-show="isFavorite(loc)" class="button-assertive button-favorite"><i class="icon ion-minus-circled"></i></ion-option-button>
      </ion-item>
      <div class="card" ng-show="(favorites).length == 0">
        <div class="item item-text-wrap">
          You currently have no locations in your favorites.
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
