<ion-header-bar align-title="center" class="bar-dark">
  <div class="buttons">
    <a class="button button-icon button-clear ion-navicon" href="#/app/menu"></a>
  </div>
  <h1 class="title locations-toggle-wrap">
    <a nav-clear class="button button-icon button-clear ion-map" ng-class="{active:isActive('/app/loc/map')}" href="#/app/loc/map"></a>
    <a nav-clear class="button button-icon button-clear ion-ios7-more" ng-class="{active:isActive('/app/loc/all')}" href="#/app/loc/all"></a>
  </h1>
  <div class="buttons">
    <!-- <a class="button button-icon button-clear ion-ios7-search-strong" href="#/app/search"></a> -->
    <a class="button button-icon button-clear ion-ios7-search-strong" ng-click="modalSearch.show()"></a>
  </div>
</ion-header-bar>
