<ion-view title="Menu">
  <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
  	<ion-nav-buttons side="right">
  		<ion-nav-back-button class="button button-icon icon ion-ios7-arrow-forward"></ion-nav-back-button>
  	</ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-header="true" overflow-scroll="{{scroll}}" animation="slide-left-right-ios7">
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" href="#/m/favorites">
        <i class="icon ion-ios7-star-outline"></i>
        Favorites
        <i class="icon ion-ios7-arrow-forward icon-accessory"></i>
      </ion-item>
        <ion-item class="item-icon-left item-icon-right" href="#/m/visited">
          <i class="icon ion-ios7-checkmark-outline"></i>
          Visited
          <i class="icon ion-ios7-arrow-forward icon-accessory"></i>
        </ion-item>
      <ion-item item-divider ng-show="$storage.showDistance"></ion-item>
      <ion-item class="item-icon-right" href="#/m/settings" ng-show="$storage.showDistance">
        Settings
        <i class="icon ion-ios7-arrow-forward icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/m/credits">
        Credits
        <i class="icon ion-ios7-arrow-forward icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="about-app padding">
      <div class="about-logo">
        <img src="assets/img/about-logo.svg" width="108" />
      </div>
      <p>Brought to you by:</p>
      <p>{{aboutBroughtBy}}</p>

      <div class="handcrafted-by-maven padding-vertical">
        Handcrafted by <img src="assets/img/m-logo.svg" width="25" />
      </div>
    </div>
  </ion-content>
</ion-view>
