<ion-view hide-nav-bar='true' hide-back-button='true'>
  <ion-header-bar align-title="center" class="bar-dark item-input-inset">
    <div class="buttons" style="margin-right:10px;">
      <button class="button-clear no-padding">
        <a class="button button-icon icon ion-ios7-arrow-back" href="#/app/loc/all"></a>
      </button>
    </div>
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="search.name" autocorrect="off" focus-on="friendSearch">
      <i class="clear-search icon ion-ios7-close-empty" style="font-size: 18px" ng-click="emptySearch()">
      </i>
    </label>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list class="search-results">
      <ion-item class="item-divider">
        Search Results:
      </ion-item>
      <ion-item class="search-result-item" ng-repeat="loc in locations | orderBy:name" ng-show="([loc] | filter:search).length > 0" type="item-text-wrap" href="#/location/{{loc.id}}/details">
        {{loc.name}}
      </ion-item>
      <p class="no-results" ng-hide="([loc] | filter:search).length">Nothing here!</p>
    </ion-list>
  </ion-content>
</ion-view>
