<ion-view>
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <ion-nav-back-button class="button button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-header="true" overflow-scroll="{{scroll}}">
    <div class="list">
      <div class="item item-divider">
        Sort Options:
      </div>
      <ion-radio ng-repeat="item in sortLocList"
                 ng-value="item.value"
                 ng-model="$storage.sortLoc">
        {{ item.text }}
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
