$bg: rgb(28, 28, 28) !default;

$header-button-color: rgba(255, 255, 255, 0.6);

$locations-list-button-color: rgba(255, 255, 255, 0.6);

$border-color: rgba(255, 255, 255, 0.2) !default;

$list-item-divider-text-color: rgba(255, 255, 255, 0.5) !default;
$list-item-bg: rgba(255, 255, 255, 0.05) !default;
$list-item-text-color: #fff;

$input-text-color: #fff;
$input-bg: rgba(255, 255, 255, 0.2);

$base-background-color:           $bg;
$base-color:                      #fff;
