
.map-wrapper .scroll {
	height: 100%;
}

#map_all, #map_detail, .angular-google-map, .angular-google-map-container {
  width: 100%;
  height: 100%;
}


.bar-header.bar-dark {
	.locations-toggle-wrap {
		font-size: 0 !important;

		.button.button-icon {
			border: 1px solid $locations-list-button-color;
			border-radius: 0;
			margin: 6px 0 0;
			padding-left: 22.5px;
			padding-right: 22.5px;
			vertical-align: middle;
			line-height: 29px;

			&:before {
				font-size: 20px;
				line-height: 28px;
			}

			&.active, &.activated {
				border-color: transparent;
				background-color: $locations-list-button-color;
				color: $bg;
				opacity: 1;
			}
		}
	}
}

.scrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 37.5px; height: 37.5px;
	line-height: 37.5px;
	text-align: center;
	font-size: 24px;
	z-index:10;
	background-color: $bg;
	color: #fff;


	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	.icon {

	}

	&.showscrollbtn {
		opacity: 1;
	}
}




.locations-list {
	padding: 0 !important;

	.location-item {
		position: relative;
		clear: both;
		padding: 0px;
		margin: 0px;
		border: 0 none;
		padding-bottom: 46.875%;
		background-position: 50% 0;
		background-size: cover;


		.item-options .button {
			background-color: rgba(0, 0, 0, 0.75);
			color: #fff;
		}

		> a {
			position: absolute;
			top: 0; right: 0;
			bottom: 0; left: 0;
			margin: 0;
			display: block;
			padding: 0;
			background-color: transparent;

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgba(0, 0, 0, 0.65)),
				color-stop(1, rgba(255, 255, 255, 0))
			);
			background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);

			&:after {
				display: none !important;
			}


			> .location-title {
				position: absolute;
				left: 15px; right: 15px;
				bottom: 12px;

				> p {
					width: 65%;
					margin: 0;
					font-size: 18px;
					font-weight: 300;
					color: #fff;
					white-space: pre-wrap;
				}

				> .distance-indicator {
					position: absolute;
					right: 0; bottom: 0;
					font-size: 16px;
					font-weight: 300;
					color: #fff;
					> .digit {
						font-size: 32px;
						font-weight: normal;
					}
				}
			}
		}

	}
}

.location-list li:active {
	//background-color: #d6d6d6;
}
