

// WRAPPER FOR ALL DETAIL VIEW TABS
.detail-view {

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    height: 120px;

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgba($bg, 1)),
      color-stop(1, rgba($bg, 0))
    );
    background-image: -o-linear-gradient(top, rgba($bg, 1) 0%, rgba($bg, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba($bg, 1) 0%, rgba($bg, 0) 100%);
    background-image: -webkit-linear-gradient(top, rgba($bg, 1) 0%, rgba($bg, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba($bg, 1) 0%, rgba($bg, 0) 100%);
    background-image: linear-gradient(to top, rgba($bg, 1) 0%, rgba($bg, 0) 100%);


    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &.fade:after {
    opacity: 1;
  }
}


// MAIN DETAIL VIEW - DESCRIPTION
.details {
	.location-details-header {
		position: relative;
		background-size: cover;
		background-position: center center;
		height: 320px;

		.location-details-header-container {
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgba(0, 0, 0, 0.65)),
				color-stop(1, rgba(255, 255, 255, 0))
			);
			background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 53%);
			background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 53%);
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 53%);
			background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 53%);
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 53%);

			h1 {
				position: absolute;
				display: block;
				bottom: 15px;
				left: 20px; right: 20px;
				text-align: left;
			  padding: 0;
			  margin: 0;
			  font-size: 26px;
				font-weight: 400;
				color: #fff;
				line-height: 30px;
				white-space: normal;
			}
		}
	}
	.location-details-description {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding: 15px 20px;
		color: #fff;
		font-size: 12px;
		font-weight: normal;
		line-height: 17px;
		text-align: left;

		h3 {
		  font-size: 17px;
		  font-weight: 400;
		  color: #fff;
			margin-bottom: 16px;
		}
    a {
      color: #fff !important;
      text-decoration: none;
    }
	}

}

.tour {

}

.audio-player {
  audio {
    width: 100%;
  }
}

.video-player {

  .player-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


// PHOTO GALLERY
#image-gallery {
  margin: auto;

  .image {
    float: left;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 30%;

    .image-spacing {
      position: absolute;
      left: 3px; right: 3px;
      top: 0; bottom: 6px;
      overflow: hidden;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;
    }

    &:nth-child(-n+2) {
      .image-spacing {
        top: 6px;
      }
    }
    &:nth-of-type(odd) {
      .image-spacing {
        left: 6px;
      }
    }
    &:nth-of-type(even) {
      .image-spacing {
        right: 6px;
      }
    }
  }
}



.slider, .scroll-view, .image {
  height: 100%;
}

.slider {
  .image {
    -webkit-transform-style: preserve-3d;
  }
  .image, img {
    -webkit-transition: 250ms ease-in;
  }
  img {
    @include vertical-align;
    //max-width: 100%;
    //height: auto;
    //-webkit-transform-origin: 0 0;
  }
}

.scaled {
  max-width: 100%;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
}
