<ion-view title="{{navTitle}}">
  <ion-content bindonce="location" has-header="true" class="detail-view details" delegate-handle="locations-list" overflow-scroll="{{scroll}}">
  <div class="location-details-header" hero-img="{{location.heroDetail}}">
    <div class="location-details-header-container">
      <h1 bo-text="location.commonName"></h1>
    </div>
  </div>
  <div class="location-details-description" has-hero="{{location.heroImage.url}}">
    <h3>Details</h3>
    <span bo-html="location.description.brief"></span>
    <span bo-html="location.description.extended"></span>

    <div ng-show="location.plaqueText">
      <h3>Plaque Text:</h3>
      <span ng-bind-html="location.plaqueText"></span>
    </div>
  </div>

  <div class="location-details-more list">
    <div class="item" ng-show="location.historicName">
      Historic Name:
      <span class="item-note" bo-text="location.historicName"></span>
    </div>
    <div class="item" ng-show="location.yearBuilt">
      Year Built:
      <span class="item-note" bo-text="location.yearBuilt"></span>
    </div>
    <div class="item" ng-show="location.architecturalStyle">
      Architectural Style:
      <span class="item-note" bindonce="style" ng-repeat="style in location.architecturalStyle">
        <p bo-text="style.name"></p>
      </span>
    </div>
    <div class="item" ng-show="location.architect">
      Architect:
      <span class="item-note" bo-text="location.architect"></span>
    </div>
    <div class="item" ng-show="location.builder">
      Builder:
      <span class="item-note" bo-text="location.builder"></span>
    </div>
    <div class="item" ng-show="location.location.street1">
      Address:
      <span class="item-note">
        <span bo-text="location.location.street1"></span><br>
        <span bo-text="location.location.street2"></span><br ng-show="location.location.street2">
        <span bo-text="location.location.suburb"></span>, <span bo-text="location.location.state"></span> <span bo-text="location.location.postcode"></span>
      </span>
    </div>
    <div class="item" ng-show="location.url">
      Website:
      <span class="item-note">
        <a href="{{trustSrc(location.url)}}" target="_blank">
          <span bo-text="trustSrc(location.url)"></span>
        </a>
      </span>
    </div>
  </div>

  </ion-content>
</ion-view>
