<ion-view title="{{navTitle}}">
  <ion-content has-header="true" scroll="false" padding="true" class="detail-view tour audio-player" ng-class="{fade:fade}" on-scroll="checkScroll()">
    <p style="color:#ffffff;">AUDIO PLAYER</p>
    <p style="color:#ffffff;">Title: {{tour.title}}</p>
    
    <div class="player-wrap">
      <audio ng-src="{{trustSrc('http:' + tour.url.url)}}" controls preload="auto"></audio>
    </div>

    <a class="button button-dark" href="#/loc/{{location._id}}/tour">Back To Tours List</a>

  </ion-content>
</ion-view>
