<ion-view title="{{navTitle}}">
  <div class="tour-background" hero-img="{{location.heroDetail}}"></div>

  <ion-content has-header="true" overflow-scroll="{{scroll}}" padding="true" class="detail-view tour tour-player audio-player">
    <div class="tour-details">
      <h1>{{tour.title}}</h1>
      <h2>{{location.commonName}}</h2>

      <div class="player-wrap audio-player">
        <audio ng-src="{{trustSrc('http:' + tour.url.url)}}" controls preload="auto"></audio>
      </div>

      <a class="button icon-left ion-ios7-arrow-back button-outline button-light" href="#/loc/{{location._id}}/tour">Back To Tours</a>
    </div>

  </ion-content>
</ion-view>
